# Top-level dependencies
/node_modules

# Nested dependencies
**/node_modules

# Production builds
/dist
/build
**/dist
**/build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS system files
.DS_Store

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

